

.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
/* ENTRY css *****************************/
.myForm {
	position:absolute;
	top: 50px;
	left: 15px;
	width:350px;
}

.entry:not(:first-of-type) {
	margin-top: 36px;
}

.entry {
	
	padding: 4px;

	border-color: lightgray;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;

	background-color:white;
	font-size: larger;
	height: 78px;
	width:108%;
	z-index: 1000;
	transition: opacity 800ms, visibility 800ms;
}
.grabber{
	float:left;
	width:12px;
	height: 90%;
	cursor:move;

	background-image:url(../imgs/grabber2.gif);
	background-repeat: repeat-y;
}
.mathinput {
	float:left;
	margin-left:4px;
	/* this is tough... fixed width is best I can do*/
	width:220px;
	height:65px;
	padding: 8px;
	
	background-color: oldlace;
}
.mathquill-editable{
	position: relative;
	top: 50%;
	transform: translateY(-55%);
}

.collapse-entry
{
	float:	right;
	margin-left: 3px;
	width:	24px;
	height:	100%;
	line-height:	78px;
	text-align:	center;
	border:	1px #cccccc solid;
}

.collapse-entry:hover
{
	cursor:	pointer;
	background-color:	#e6e6e6;
	border-color:	#adadad;
}

.showColor{
	float:right;
	width: 12px;
	height:100%;
}
.spcLeft{
	margin-left:2px;
	float:left;
}
.hiddenRow{
	margin-top:4px;
	width:100%;
	float:left;
}

.btn-add {
	color: lightgreen;
}

.btn-remove {
	color: lightcoral;
}
/* end ENTRY css****************/
.btn-group-sm{
	padding-bottom:3px;
	padding-top:3px;
}

#m-entry {
	display: block;
	position: absolute;
}

div.listbox {
	padding-left: 0px;
	overflow: auto;
	width: 100%;
	height: 128px;
}

div.listbox .item {
	width: 100%;
	height: 32px;
}

div.listbox .item span {
	width: 10%;
	height: 32px;
	letter-spacing: 2px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	float: left;
	display: inline-block;
}

div.listbox .item span:hover {
	background-color: #aaddff;
}

div.listbox .item textarea {
	width: 90%;
	height: 32px;
	clear: both;
}

.collapse-container
{
	min-width:	35px;
	min-height:	48px;
	position:	absolute;
	right:	15px;
	display:	table;
	z-index:	1000;
	user-select:	none;
	-moz-user-select:	none;
	-webkit-user-select:	none;
	transition:	right 500ms, left 500ms;
}

.collapser
{
	background-color:	#ffffff;
	border:	1px #cccccc solid;
	width:	35px;
	display:	table-cell;
	z-index:	1000;
}

.collapser:hover
{
	background-color:	#e6e6e6;
	cursor:	pointer;
	border-color:	#adadad;
}

.collapser span.glyphicon
{
	width:	100%;
	text-align:	center;
	height:	48px;
}

.collapse-content
{
	background-color:	#dddddd;
	border:	1px solid #cccccc;
	display:	table-cell;
	width:	auto;
	transition:	width 1s;
	padding:	4px;
	z-index:	1000;
}

.sideListbox
{
	z-index:	10;
	height:	90%;
	width:	64px;
	background-color:	green;
	position:	absolute;
	top:	32px;
	overflow:	auto;
	display:	none;
}

.sideListbox .item
{
	height:	32px;
	width:	100%;
}

.sideListbox .uncollapse
{
	height:	100%;
	width:	24px;
	float:	right;
	border:	1px solid #cccccc;
	background-color:	#ffffff;
	text-align:	center;
	line-height:	32px;
}

.sideListbox .uncollapse:hover
{
	cursor:	pointer;
	border-color:	#adadad;
	background-color:	#e6e6e6;
}