

.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
/* ENTRY css *****************************/
.myForm {
	position:absolute;
	top: 85px;
	left: 15px;
	width:345px;
}

.entry {
	
	padding: 4px;

	border-color: lightgray;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	position:	absolute;

	background-color:white;
	font-size: larger;
	height: 78px;
	width:108%;
	z-index: 1000;
	transition: opacity 800ms, visibility 800ms;

}
.grabber{
	float:left;
	width:12px;
	height: 90%;
	cursor:move;

	background-image:url(../imgs/grabber2.gif);
	background-repeat: repeat-y;
}
.mathinput {
	float:left;
	margin-left:4px;
	/* this is tough... fixed width is best I can do*/
	width:220px;
	height:65px;
	padding: 8px;
	
	background-color: oldlace;
}
.mathquill-editable{
	position: relative;
	top: 50%;
	transform: translateY(-55%);
}


.spcLeft{
	margin-left:2px;
	float:left;
}
.hiddenRow{
	margin-top:4px;
	width:100%;
	float:left;
}

.btn-add {
	color: lightgreen;
}

.btn-remove {
	color: mediumvioletred;
}
.collapse-entry
{/*
	padding:	2px;
	
	width:	6%;
    
	line-height:	75px;*/
}
/* end ENTRY css****************/


.btn-group-sm{
	padding-bottom:3px;
	padding-top:3px;
}

#m-entry {
	display: block;
	position: absolute;
}

div.listbox {
	padding-left: 0px;
	overflow: auto;
	width: 100%;
	height: 128px;
}

div.listbox .item {
	width: 100%;
	height: 32px;
}

div.listbox .item span {
	width: 10%;
	height: 32px;
	letter-spacing: 2px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	float: left;
	display: inline-block;
}

div.listbox .item span:hover {
	background-color: #aaddff;
}

div.listbox .item textarea {
	width: 90%;
	height: 32px;
	clear: both;
}

.sideListbox
{
	z-index:	10;
	height:	90%;
	width:	64px;
	background-color:	#e6e6e6;
	position:	absolute;
	top:	50px;
	overflow:	auto;
	display:	none;
    
}

.sideListbox .item
{
	height:	32px;
	width:	100%;
}

.sideListbox .uncollapse
{
	height:	100%;
	width:	24px;
	float:	right;
	border:	1px solid #cccccc;
	background-color:	#ffffff;
	text-align:	center;
	line-height:	32px;
}

.sideListbox .uncollapse:hover
{
	cursor:	pointer;
	border-color:	#adadad;
	background-color:	#e6e6e6;
}

.controlContainer
{
	height:	100%;
}

#graphPaperButtons{
	position: absolute; 
	top: 45px; 
	right:10px; 
	height:142px; 
	background-color:white; 
	z-index: 1000; 
	padding:2px; 
	border:thin solid lightgray;
	border-radius:2px;
}